@charset "utf-8";

/* resets all styles */
@import url("reset.css");

body {
	
	/*background: #241f1d url(images/bg.gif) repeat-x top left;*/
	color: #beafa8;
	font: normal 12px/18px Arial, Helvetica, sans-serif;
	
}

h1, h2, h3, h4 ,h5 ,h6 {
	
	color: #ffffff;
	
}

a {
	
	font-weight: bold;
	color: #ffffff;
	text-decoration:: underline !important;
	
}

strong {
	
	color: #ffffff;
	
}

p, li {
	
	text-align: justify;
	text-shadow: 0px 1px 0px #100d0c;	
	
}

.wrapper {
	
	margin: 0 auto;
	width: 960px;
	
}

#logo {
	
	float: left;
	width: 100%;
	
}

.x2, .x3, .x3_2, .x4, .x4_3, .x5, .x5_2, .x5_3, .x5_4, .x6 {
	
	float: left;
	margin: 0 30px 0 0;
	
}

code {
	
	/*background: url(images/code.gif) repeat top left;*/
	display: block;
	padding: 0 14px;
	margin-bottom: 2.5em;
	font-size:10px;
	white-space: pre;
	line-height: 22px;
	
}

.x1 {
	
	float: left;
	width: 960px;
	
}

.x2 {
	
	width: 465px;
	
}

.x3 {
	
	width: 300px;
	
}

.x3_2 {
	
	width: 630px;
	
}

.x4 {
	
	width: 217px;
	
}

.x4_3 {
	
	width: 712px;
	
}

.x5 {
	
	width: 168px;
	
}

.x5_2 {
	
	width: 366px;
	
}

.x5_3 {
	
	width: 564px;
	
}

.x5_4 {
	
	width: 762px;
	
}

.x6 {
	
	width: 135px;
	
}

.last {
	
	margin-right: 0;
	
}

a.learn_more {
	
	/*background: url(assets/learn_more_button.png) no-repeat top left;*/
	float: left;
	height: 36px;
	margin: 0 20px 0 0;
	width: 164px;
	
}

a.learn_more:hover {
	
	/*background: url(assets/learn_more_button_hover.png) no-repeat top left;*/
	
}

a.buy_it {
	
	/*background: url(assets/buy_it.png) no-repeat top left;*/
	float: left;
	height: 36px;
	margin: 0 20px 0 0;
	width: 164px;
	
}

a.buy_it:hover {
	
	/*background: url(assets/buy_it_hover.png) no-repeat top left;*/
	
}

#slider { float: left; position: relative; width: 100%; height: 40px; }




		/*------------------------
		--------------- LEFT ARROW
		------------------------*/
		
		/* Sets position and main configs */
		.slider_arrow_left {
			
			bottom: 10px;
			cursor: pointer !important;
			float: left;
			height: 22px;
			left: 10px;
			position: absolute;
			width: 22px;
			z-index: 50 !important;
			
		}
		
		/* left arrow image */
		.slider_arrow_left {
			
			background: url(images/left_arrow.png) no-repeat top left;
			
		}


		/*------------------------
		-------------- RIGHT ARROW
		------------------------*/
		
		/* Sets position and main configs */
		.slider_arrow_right {
			
			bottom: 10px;
			cursor: pointer;
			float: left;
			height: 22px;
			left: 37px;
			position: absolute;
			width: 22px;
			z-index: 50;
			
		}
		
		/* Right arrow Background */
		.slider_arrow_right {
			
			background: url(images/right_arrow.png) no-repeat top left;
			
		}




	/*------------------------
	---------------- SELECTORS
	------------------------*/
	
	/* Sets configs for selectors containers : absolute positioned in relation to #slider */
	.slider_selector, .slider_selector_dis {
		
		bottom: 10px;
		list-style: none;
		margin: 0 0 0 5px;
		position: absolute;
		right: 10px;
		z-index: 50;
		
	}
	
		/* Sets image of selectors */
		.slider_selector li, .slider_selector_dis li {
			
			display: block !important;
			background: url(images/slider_selector.png) no-repeat top left;
			cursor: pointer;
			float: left;
			margin: 0 3px !important;
			height: 10px !important;
			position: relative !important;
			width: 10px !important;
			
		}
		
		/* Sets the current selector */
		.slider_selector li.current, .slider_selector_dis li.current {
			
			background: url(images/slider_selector_current.png) no-repeat top left;
			
		}
	
	/* Disables the selectors */
	.slider_selector_dis li {
		
		cursor: default !important;
		z-index: 50;
		
	}
	
	#container {  float: left; width: 100%; position: relative;  }